Напишите  программу,  используя минимум 5 функции для  работы  со списком. В виде списка пусть каждый студент предложитсвое резюме. И будет работать с этим списком.

In [1]:
resume = ['Communication skills', 'Computer skills', 'Problem-solving skills', 'bad skill']
resume.append('Leadership skills')
resume.remove('bad skill')
resume.sort()
desired_skills = ['Mathematics', 'Data analysis']
resume.extend(desired_skills)
resume.insert(0, 'English')
resume

['English',
 'Communication skills',
 'Computer skills',
 'Leadership skills',
 'Problem-solving skills',
 'Mathematics',
 'Data analysis']

1. Напишите программу, в которой предлагается вводить учащихся различных групп, посещающих секции по разным предметам. Требуется упорядочить  список  по различным  категориям. Вывести  результат  на экран.

In [2]:
from random import sample
import pandas as pd

with open('names.txt') as file:
    names = [i.strip() for i in file.readlines()]
    
disciplines = ['Mathematics', 'Physics', 'Algorithms', 'Programming']
journal = {i: sample(names, 10) for i in disciplines}
df = pd.DataFrame(journal)
df = df.sort_values(disciplines, ignore_index=True)
df

  Mathematics   Physics Algorithms Programming
0    Brittney    Jaclin      Joann    Carlynne
1       Carla     Legra      Maire     Crissie
2  Constantia     Manya      Perle      Maggie
3     Daniele  Guillema   Ernaline    Kirsteni
4      Debbie   Arleyne     Jolynn      Malina
5      Krista    Eirena       Avie       Dyane
6       Marja     Diann     Alicia        Reta
7       Netti     Aubry     Marice      Joyann
8    Philippa     Maxie     Leigha       Hedda
9        Prue     Alene     Grayce      Louise

2. Напишите   программу которая   возвращает список. Заранее подготовьте  список  предметов  и  оценок  учащихся. Когда вы  вводите имя учащегося, то должны отображаться оценки этого учащегося.

In [3]:
from random import randint

df = {discipline: [randint(0, 100) for _ in range(20)] for discipline in disciplines}
df['Name'] = sample(names, 20)
df = pd.DataFrame(df)
df = df.set_index('Name')
df

            Mathematics  Physics  Algorithms  Programming
Name
Livy                 36        3          24           58
Leta                 23        3          75            8
Fanchette            88        0          34           22
Gloriane             87       82          69           18
Hilary               83       62          26           57
Kristal              16       28          95           44
Gnni                 51       27           6           61
Cassondra            93       17          21           92
Leonora              88       86          48           96
Lexi                 66       31          12           96
Liza                 65       25          99           97
Catharine            96       96          99           84
Joellen              73       82          59           81
Junina                2       18          32           97
Cristionna           92        0          37           84
Merrie               49       85          90           56
Cherie               24       32          82           25
Raf                  79       68          88           75
Cathrin              49       51          47           94
Kara                 48       30          27           30

In [4]:
discipline = input('Input discipline: ')
name = input('Input name: ')

print(f'His(Her) grade is {df[discipline][name]}')

Input discipline: Physics
Input name: Raf
His(Her) grade is 68

In [5]:
df.loc[[input('Input name: ')]]

Input name: Raf

      Mathematics  Physics  Algorithms  Programming
Name
Raf            79       68          88           75

3. Напишите программу, которая будет запрашивать у пользователя целочисленные  значения  и сохранять  их  ввиде  списка.  Индикатором окончания  ввода  значений  должен  служить  ноль.  Затем  программа должна  вывести  на  экран  все  введенные  пользователем  числа  (кроме нуля)   в порядке   возрастания – по   одному   значению   в строке. Используйте для сортировки либо метод sort, либо функцию sorted.

In [8]:
res = []
while True:
    try:
        value = int(input('Введи значение: '))
    except ValueError:
        print('Введено не целочисленное значение!')
        continue
    if value == 0:
        print(sorted(res))
        break
    res.append(value)

Введи значение: 1
Введи значение: 2
Введи значение: 3
Введи значение: abc
Введено не целочисленное значение!
Введи значение: 1.5
Введено не целочисленное значение!
Введи значение: 4
Введи значение: 5
Введи значение: 0
[1, 2, 3, 4, 5]

4. Напишите  программу,  которая,  как  и в предыдущем  случае, будет запрашивать у пользователя целые числа и сохранять их в виде списка. Индикатором окончания ввода значений также должен служить ноль. На этот раз необходимо вывести на экран введенные значения впорядке убывания.

In [10]:
res = []
while True:
    try:
        value = int(input('Введи значение: '))
    except ValueError:
        print('Введено не целочисленное значение!')
        continue
    if value == 0:
        print(sorted(res, reverse=True))
        break
    res.append(value)

Введи значение: 1
Введи значение: 2
Введи значение: 3
Введи значение: abc
Введено не целочисленное значение!
Введи значение: 4
Введи значение: 5
Введи значение: 0
[5, 4, 3, 2, 1]

5. Для  выигрыша  главного  приза  необходимо,  чтобы  шесть номеров на лотерейном билете совпали с шестью числами, выпавшими случайным образом в диапазоне от 1 до 49 во время очередного тиража. Напишите  программу,  которая  будет  случайным  образом  подбирать шесть  номеров  для  вашего  билета.  Убедитесь  в том,  что  среди  этих чисел не  будет  дубликатов.  Выведите  номера  билетов  на  экран  по возрастанию.

In [11]:
ticket = sample(range(1, 50), 6)
your_ticket = sample(range(1, 50), 6)
print('Основной билет:', sorted(ticket))
print('Ваш билет:', sorted(your_ticket))

Основной билет: [1, 7, 10, 14, 21, 48]
Ваш билет: [20, 23, 27, 35, 41, 44]

In [12]:
def check_identity(l1, l2):
    return sorted(l1) == sorted(l2)

counter = 0

for _ in range(10_000_000):
    ticket = sample(range(1, 50), 6)
    your_ticket = sample(range(1, 50), 6)
    if check_identity(ticket, your_ticket):
        counter += 1
print('Количетсво совпадений:', counter)

Количетсво совпадений: 0

In [13]:
counter = 0

for _ in range(10_000_000):
    ticket = sample(range(1, 25), 6)
    your_ticket = sample(range(1, 25), 6)
    if check_identity(ticket, your_ticket):
        counter += 1
print('Количетсво совпадений:', counter)

Количетсво совпадений: 89

6. Напишите   функцию,   показывающую,   отсортирован   ли переданный  ей  в качестве  параметра  список  (по  возрастанию  или убыванию).   Функция   должна   возвращать   True,   если   список отсортирован,   и False   в противном   случае.   В основной   программе запросите  у пользователя  последовательность  чисел  для  списка,  после чего   выведите   сообщение   о том,   является   ли   этот   список отсортированным изначально.

In [14]:
def is_sorted(l: list) -> bool:
    return l == sorted(l) or l == sorted(l, reverse=True)

for _ in range(3):
    print(is_sorted(list(map(int, input().split()))))

1 2 3 4 5
True
5 4 3 2 1
True
1 2 3 4 1
False